@page
@model CS4760_Project.Pages.Committee.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Committee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Committee.GrantType" class="control-label"></label>
                <input asp-for="Committee.GrantType" class="form-control" />
                <span asp-validation-for="Committee.GrantType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn purpleButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn button">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
