@page
@model CS4760_Project.Pages.FinancialRequests.EditPersonalResourceModel
@{
}

<!-- TODO: Due to time constraints, when editing a Grant financial requests do not work. -->
<!-- This is in progress, I left the code here to help if needed. -->
<!-- However, feel free to delete, as it's in progress.' -->
<p>This is in progress.</p>