.footer {
    color: white;
    background-color: #4a494d;
    padding: 2rem;
    margin: auto;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

html {
    min-height: 100%;
    position: relative;
}
